<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"> 
<head>
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="/js/jstree/themes/default/style.css" />
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
    
    <script src="https://cdn.bootcss.com/knockout/3.4.2/knockout-min.js"></script>
    <script src="http://mockjs.com/dist/mock.js"></script>
    <script src="/js/jstree/jstree.js"></script>
    <script src="/js/mockData.js"></script>
    <title>Hello mockJs!</title>
 
</head>


<body>

<script type="text/javascript">



$.getJSON('user/dto',function (data){
	document.write(JSON.stringify(data));
	console.log(data);
})



</script>





</body>
</html>